<div class="login-container gs-shadow" [@routeAnimation] = "routeAnimation" >
    <form role="form" [formGroup] ="loginForm" (ngSubmit) = "submit()">
        <div class="form-group text-center">
            <h3>Iniciar Sesi&oacute;n</h3>
        </div>
        
        <div class="gs-input-group">
            <input type="text" class="form-control gs-input-underscored" formControlName="user" gs-string id="user" autocomplete="off"> 
            <label class="gs-label-underscored" (click)="validateLabel('user')" [ngClass]="{'gs-input-underscored-focused': userLabel, 'gs-error': userError}">
                Introduzca su usuario
            </label>
            <small class="gs-span-underscored" *ngIf="formErrors.user">{{ formErrors.user }}</small>
        </div>
    
        <br>
        <div class="form-group text-center">
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success gs-flat">Entrar</button>
        </div>
    </form>
   
</div>