<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb" >
            <i class="fa fa-dashboard"></i> 
            <li >
                <a routerLink="/home" routerLinkActive="active">HOME</a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->