<div class="create-container" [@routeAnimation] = "routeAnimation">
    <form role="form">
        <div class="form-group">
            <h4>Crear Usuario</h4>
        </div>
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
            <input type="text" name="nombre_usuario" class="form-control" placeholder="Nombre de Usuario">
        </div>
        <br>
        <div class="form-group text-right">
            <button type="button" class="btn btn-default">Cancelar</button>
            <button type="button" class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>