/* You can add global styles to this file, and also import other style files */
.logo-mini>img{
    width:50px;
    height:50px;
}
.content-header>.breadcrumb{
    float:none;
    right:0px;
    position:relative;
    background-color: rgba(0,0,0,0.02);
    top:0px;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:5px;
}
.skin-black .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li:hover > a,
.skin-yellow .sidebar-menu > li:hover > a,
.skin-red .sidebar-menu > li:hover > a,
.skin-green .sidebar-menu > li:hover > a,
.skin-purple .sidebar-menu > li:hover > a{
    -webkit-transition: border-left-color 1s, color 1s, border-left-width 1s;
}
.user-panel>.info{
    line-height: 3;
}
.user-header-name-role{
    font-size: 12px !important;
}
.navbar-nav>.user-menu>.dropdown-menu{
    width: 300px !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: 220px !important;
}
.sidebar-menu li {
    outline: none;
    border: none;
}
.content-header>.breadcrumb>li+li:before{
    content: "/\A0" !important;
    color: gray !important;
   
}