/* 
-----------------------------------------------------------------
Layout custom styles
-----------------------------------------------------------------
*/
.logo-mini>img{
    width:50px;
    height:50px;
}
.content-header>.breadcrumb{
    float:none;
    right:0px;
    position:relative;
    background-color: rgba(0,0,0,0.02);
    top:0px;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:5px;
}
.skin-black .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li:hover > a,
.skin-yellow .sidebar-menu > li:hover > a,
.skin-red .sidebar-menu > li:hover > a,
.skin-green .sidebar-menu > li:hover > a,
.skin-purple .sidebar-menu > li:hover > a{
    -webkit-transition: border-left-color 1s, color 1s, border-left-width 1s;
}

.user-panel>.info{
    line-height: 3;
}
.user-header-name-role{
    font-size: 12px !important;
}
.navbar-nav>.user-menu>.dropdown-menu{
    width: 300px !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: 220px !important;
}
.sidebar-menu li {
    outline: none;
    border: none;
}
.content-header>.breadcrumb>li+li:before{
    content: "/\A0" !important;
    color: gray !important;
   
}
/*
-----------------------------------------------------------
gs-skin-black
-----------------------------------------------------------
*/
.gs-skin-black .main-header>.logo {
    background-color: #222D32 !important;
    color: #FFF !important;
    border-right: 1px solid #222D32;
}
.gs-skin-black .main-header .navbar{
    background-color: #222D32 !important;
}
.gs-skin-black .main-header .navbar>.sidebar-toggle{
    color: #FFF !important;
    border-right: 1px solid #222D32 !important;
}
.gs-skin-black .main-header .navbar .navbar-custom-menu .navbar-nav>li>a, .gs-skin-black .main-header .navbar .navbar-right>li>a{
    border-left: 1px solid #222D32 !important;
}
.gs-skin-black .main-header .navbar .nav>li>a{
    color: #FFF !important;
}
.gs-skin-black .main-header .navbar .nav>li>a:hover, 
.gs-skin-black .main-header .navbar .nav>li>a:active, 
.gs-skin-black .main-header .navbar .nav>li>a:focus, 
.gs-skin-black .main-header .navbar .nav .open>a, 
.gs-skin-black .main-header .navbar .nav .open>a:hover, 
.gs-skin-black .main-header .navbar .nav .open>a:focus, 
.gs-skin-black .main-header .navbar .nav>.active>a{
    background-color: #2C3B41 !important;
}
.gs-skin-black .main-header .navbar .sidebar-toggle:hover{
    background-color: #2C3B41 !important;
}
.gs-skin-black .main-header li.user-header{
    background-color: #222D32 !important;
}
/*
------------------------------------------------------------
General error styles
------------------------------------------------------------
*/

.has-error{
    border-color: #E23237;
    background-color: rgba(244, 66, 66,0.1);
}
.has-error:focus{
    border-color: #E23237;
}
.gs-has-error{
    border-bottom-color: rgba(244, 66, 66,0.8) !important;
}
.gs-error{
    color: rgba(244, 66, 66,0.8) !important;
}
/*
-------------------------------------------------------------
underscored-flat styles
-------------------------------------------------------------
*/
.gs-input-group{
    position:relative;
    color: rgba(0,0,0,0.7);
}
.gs-input-group>.glyphicon-ok{
    color: rgba(0,0,0,0.7) !important;
}
.gs-input-group>.glyphicon-remove{
    color:rgba(244, 66, 66,0.8) !important;
}
.gs-icon-right{
    position:absolute;
    display:block;
    line-height: 34px;
    top:0px;
    right:0px;
    width: 34px;
    text-align: center;
    z-index: 3;
    color: rgba(0,0,0,0.7);
    transition: color .7s;
}
.gs-icon-left{
    position:absolute;
    display:block;
    line-height: 34px;
    top:0px;
    left:0px;
    width: 34px;
    text-align: center;
    z-index: 3;
    color: rgba(0,0,0,0.7);
    transition: color .7s;
}
.gs-input-underscored{
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: border-bottom .5s;
    background-color: transparent;
    z-index: 3;
    padding:0px !important;
    margin-left: 35px;
    margin-right: 35px;
    width: calc(100% - 70px) !important;
    
}
.gs-input-underscored:focus ~ .gs-icon-left{
    color:rgb(46, 94, 186);
}
.gs-input-underscored:focus ~ .gs-icon-right.glyphicon-ok{
    color:rgb(46, 94, 186) !important;
}
.gs-input-underscored:focus + .gs-label-underscored{
    transform: translateY(-20px);
    color: rgb(46, 94, 186);
}

.gs-input-underscored-focused{
    transform: translateY(-20px);
    color:rgb(46, 94, 186);
}
.gs-label-underscored{
    position:absolute;
    cursor: text;
    display:block;
    line-height: 34px;
    left:35px;
    top:0px;
    text-align: center;
    z-index: 5;
    color: rgba(0,0,0,0.7);
    transition: color .5s, transform .5s;
    font-weight: normal !important;
    font-style: oblique;
    font-size: 15px;
}

.gs-flat{
    border-radius:0px !important;
}
.gs-shadow{
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
}
.gs-span-underscored{
    margin-left: 35px;
    margin-right: 35px;

    color: rgba(244, 66, 66,0.8);
}
/*
---------------------------------------------------------
Messages styles
---------------------------------------------------------
*/
.gs-small-messages{
    color: rgba(0,0,0,0.5);
}